/* Arruma o básico do footer */
footer{
  background-color: var(--preto);
  color: #ffffff;
  padding: calc(4*var(--margem));
  width: calc(100vw - 15px);
  display: block;
}

/* Formatando a Logo */
.footer_logo{
  align-items: center;
}

.footer_logo img{
  width: 250px;
}

/* Flexbox no footer */
footer .ulFooter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  list-style: none;
}

/* Ajustando os itens da flexbox */
footer .ulFooter li{
    width: 300px;
}

/* Listas internas */
footer .ulFooter li ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(2*var(--margem));
}

/* Distância entre elementos */
footer .ulFooter li ul li{
  padding: calc(var(--margem) / 2) 0;
  font-weight: var(--fonteNormal);
  transition: 0s;
}

/* "Título" de cada secção do footer */
footer .ulFooter li ul li:first-of-type{
  -webkit-text-fill-color: #ef6108;
  font-weight: var(--fonteNegrito);
  text-decoration: underline #ef6108 2px;
  text-underline-offset: 2px;
}

footer .ulFooter li ul li:not(:first-of-type):hover{
    font-weight: var(--fonteNegrito);
    cursor: pointer;
}