#container-videos{
    display: flex;
    flex-direction: row;


}

.dropbtn {
    background-color: #040404;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 6rem;
    margin: 5px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #1a1459;
  }


  #list-videos{
    display: flex;
    flex-direction: column;
    left: 0;
    background-color: #0a0822;
    padding: 2rem;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
     /* Full width */
    top:80px;
    
    
  }

  #video{

    right: 0;
    padding: 2rem;
    

  }