#AdmDashboardPage #PageContent {
    position: absolute;
    width: 100vw;
    z-index: 1;
}

#AdmDashboardPage #PageBackground {
    left: 0;
    width: 100vw;
    z-index: 0;
    position: absolute;
}

#AdmDashboardPage #AdmLateralMenu {
    background: linear-gradient(0deg, #14001a 0%, #4d0047 100%);
    height: 100vh;
    width: 25vw;
}

#AdmDashboardPage #ProfileDiv {
    height: 40vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

#AdmDashboardPage .MenuOptions {
    height: 60vh;
}

#AdmDashboardPage #ProfileUsernameDiv p {
    text-align: center;
}

#AdmDashboardPage #ProfilePictureDiv{
    display: flex;
    justify-content: center;
}

#AdmDashboardPage #ProfilePictureDiv img{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 50%;
}

#AdmDashboardPage #ProfileUserType p{
    text-align: center;
    font-style: italic;
}

#AdmDashboardPage .MenuOption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100%/6);
}

#AdmDashboardPage .Content {
    display: flex;
}

#AdmLateralMenu .MenuOption:hover {
    background-color: #5c0051;
}

