/* Ajustes gerais do corpo */
.corpoCursos{
    margin-top: var(--alutraHeader);
    padding: calc((4*var(--margem)));
    color: var(--branco); 
    background: #101010;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0d0d0d, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #101010, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.basic_text{
    font-size: 14pt;
}

/* Estilizando o subtítulo */
.SubtituloCursos{
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: calc(2*var(--margem)) auto;
}

/* Estiliza a lista flex */
.corpoCursos ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    width: 90%; 
    max-width: 1350px;
    margin: 100px auto 0 auto;
}   

/* Estiliza os cards */
.corpoCursos ul li section{
    width: 300px;
    border: solid var(--azul-claro) 1px;
    border-radius: 10px;
    padding: 15px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Impede de ficar 3:1 */
@media screen and (max-width: 1600px){
    .corpoCursos ul{
        max-width: 650px;
    }
}

/* Espaçamento entre titulo e corpo dos cards */
.corpoCursos ul li section h2{
    margin-bottom: 20px;
    text-align: center;
}

/* Arruma os parágrafos */
.corpoCursos ul li section p{
    text-align: justify;
}

/* Arruma a lista do ultimo card */
.corpoCursos ul li section p ul{
    list-style: circle inside;
    display: block;
    margin: 10px 0;
}

/* Estiliza os botões */
.corpoCursos ul li section button{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    color: var(--branco);
    border: solid var(--branco) 1px;
    background-color: rgba(0,0,0,0);
    font-size: 16px;
    transition: 0.5s;
}

.corpoCursos ul li section button:hover{
    color: var(--preto);
    background-color: var(--branco);
    cursor: pointer;
}