.menuLateral{
    width: 120px;
  }
  
  /* Posiciona os itens correspondentemente */
  .menuLateral ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--margem);
    float: left;
    height: var(--alutraHeader);
    position: absolute;
    top: 0;
    left: calc(4*var(--margem));
  }
  
  /* Hover do menu */
  .menuLateral .iconeMenu:hover{
    cursor: pointer;
  }
  
  .menuLateral .iconeMenu:hover li:nth-child(2){
    width: 20px;
  }
  
  /* Cria as 3 barrinhas */
  .menuLateral .iconeMenu li{
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: 0.5s;
  }
  
  /* Transforma o menu lateral em um botão */
  .menuLateral .iconeMenu li button{
    background-color: rgba(0,0,0,0);
    width: 34px;
    height: 36px;
    transform: translate(-2px, -30px);
    border: none;
  }
  
  /* Estiliza o menu escondido */
  .hiddenMenu{
    position: fixed;
    top: var(--alutraHeader);
    left: 0;
    width: calc(100vw - 15px);
    height: auto;
    box-sizing: border-box;
    background-color: var(--preto);
    overflow: hidden;
    transition: 1s;
    padding: 0;
    opacity: 0;
  }
  
  .hiddenMenu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    list-style: none;
    height: auto;
    position: static;
  }
  
  /* Underlines nas opções */
  .hiddenMenu ul li:hover{
    text-decoration: underline rgba(255,255,255,1);
    font-weight: var(--fonteNegrito);
    cursor: pointer;
  }
  
  .hiddenMenu ul li{
    vertical-align: center;
    transition: 0s;
    text-decoration: underline rgba(255,255,255,0);
    text-underline-offset: 6px;
  }
  
  /* Abre o menu lateral */
  .menuLateral:focus-within .hiddenMenu{
    z-index: 300;
    height: auto;
    opacity: 1;
    padding: calc(4*var(--margem));
  }