.fields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px auto;
  width: 400px;
  border: none;
}

.fields input{
  width: 100%;
  height: 40px;
  border: none;
  padding: 15px;
}

.fields input:focus{
  box-shadow: 0 0 1px 1px #16c8ce;
}

.send_button{
  margin-top: 20px;
  width: 300px;
  height: 50px;
}

.send_container{
  padding-top: 40px;
  padding-bottom: 40px;
  width: 500px;
  height: 400px;
  background-color: #000000;
  margin: auto;
}

.img_container{
  display: block;
  justify-content: safe;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post_img{
  height: 350px;
  margin: auto;
  display: inline-flex;
}

.book{
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
}

.logo_subtitle{
  text-align: center;
  font-style: italic;
  font-weight: var(--fonteNormal);
  font-size: 16;
  margin-bottom: calc(2*var(--margem));
}
  
/* Arruma as seções */
.corpo section{
  margin: auto;
  display: block;
  padding: 50px calc(4*var(--margem));
}

.ResolucaoPost{
  display: flexbox;
  height: 500px;
}

/* Formatando a citação */
.citacao{
  float: right;  
  text-align: right;
  clear: right;
}

/* Itálico */
.italico{
  font-style: italic;
}

.basic_text{
  font-size: 14pt;
}

.send_text{
  text-align: left;
  float: left; 
  font-size: 14pt;
}