/*Apenas zerando margens e padding*/
*{
  margin: 0;
  padding: 0;
}

/*Estilos da pagina inicial*/
  /*Configura o header da pagina inicial*/
  header{
    width: 100vw;
    height: 80px;

    position: fixed;
    top: 0;
    left: 0;

    background-color: black;
    color: white !important;
    font-family: Verdana !important;
    font-weight: 600 !important;
    font-size: 20px !important;
  }

  /*Arruma a altura da navbar*/
  nav{
    height: inherit;
  }

  /*Arruma o posicionamento do logo*/
  .logo{
    margin-left: 20px;
    line-height: 80px;
    float: left;
  }

  /*Display em flexbox para os botões da página inicial*/
  header nav ul{
    list-style: none;
    height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    float: right;
    gap: 10px;
    margin-right: 20px;
  }

  /*Estiliza todos os botões com exceção do botão de acesso*/
  header nav ul li:not(header ul li:last-of-type){
    border-radius: 40px;
    vertical-align: center;
    padding: 10px;
    transition: 0.5s;
  }

  header nav ul li:not(header ul li:last-of-type):hover{
    background-color: rgba(20, 20, 100, 0.8);
    cursor: pointer;
  }

  /*Estiliza o botão de acesso*/
  header nav ul li button{
    height: 45px;
    width: 120px;
    
    color: white;
    font-family: Verdana !important;
    font-weight: 600 !important;
    font-size: 15px !important;

    background-color: black;
    border: white solid 2px;
    border-radius: 5px;

    transition: 0.5s;
  }

  header nav ul li button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
  }
/*Fim dos estilos da pagina inicial*/
