/* Definindo variáveis */
:root{
  font-size: 16px;
  --preto: #000000;
  --branco: #ffffff;
  --azul-claro: #30AEDC;
  --margem: 10px;
  --alutraHeader: 90px;
  --fonteNormal: 500;
  --fontMenor: 400;
  --fonteNegrito: 700;
  --alturaCorpo: 1537px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat !important;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
