.RegisterFormsBase {
    display: flex;
    align-items: center;
    background: linear-gradient(0, #01040b 100%, #090015 0%);
    height: 600px;
    width: 500px;
    border-radius: 30px;
}

.Page h2 {
    margin-bottom: 30px;
    text-align: center;
}

.Page .Forms p {
    margin-top: 15px;
}

.Page .Forms{
    margin-left: auto;
    margin-right: auto;
    width: 410px;
}

.Page .Forms .Field{
    margin-top: 0;
    margin-bottom: 15px;
}

.Page .Forms .Field input{
    font-size: 14pt;
    width: 360px;
    height: 25px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.Page .Forms .Button{
    margin-left: auto;
    margin-right: auto;
    width: 410px;
}

.Page .Forms .Button button{
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    height: 40px;
    width: 410px;
    border-radius: 10px;
    background-color: #000008;
}

.Page .Forms .Button button:hover{
    background-color: #12011a;
}

.Page .Forms .Field p{
    margin-bottom: 5px;
}