#RegisterPage #PageContent {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#PageBackground {
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
}

#RegisterPage .backToHome {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.RegisterForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    border-radius: 30px;
}

#RegisterPage h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px white solid;
    width: 30vw;
}

#RegisterPage .Forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
}

#RegisterPage .Forms p {
    margin-bottom: 5px;
}

#RegisterPage .Forms .Field{
    margin-top: 0;
    margin-bottom: 15px;
}

#RegisterPage .Forms .Field .labelfield{
    color:white;
    font-size: 12pt;
}

#RegisterPage .Forms .Field input{
    font-size: 14pt;
    width: calc(30vw - 40px);
    height: 25px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    background-color: #05000e;
}

#RegisterPage .Forms .Button{
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
}

#RegisterPage .Forms .Button button{
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    height: 40px;
    width: 30vw;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #16001f;
    color:#ffffff;
    align-items: center;
    text-align: center;
}

#RegisterPage .Forms .Button button:hover{
    background-color: #31003e;
    color: #ffffff;
}

#RegisterPage #RegisterWarning p{
    color: #d11909;
}
