#RegisterPage #PageContent {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    align-items: center;
}

#PageBackground {
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
}


.RegisterFormsBase {
    display: flex;
    align-items: center;
    width:100vw;
    border-radius: 30px;
    
}

#RegisterPage .Page h2 {
    margin:30px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 3px white solid;
}

#RegisterPage .Page .Forms p {
    margin:10px;
}

#RegisterPage .Page .Forms{
    margin-left: auto;
    margin-right: auto;
    width: 410px;
}

#RegisterPage .Page .Forms .Field{
    margin-top: 0;
    margin-bottom: 15px;
}

#RegisterPage .Page .Forms #labelfield{
    color:white;
    border-left: 3px solid white;
    padding-left: 10px;
    font-size: 18px;
}

#RegisterPage .Page .Forms .Field input{
    font-size: 14pt;
    width: 360px;
    height: 25px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#RegisterPage .Page .Forms .Button{
    margin-left: auto;
    margin-right: auto;
    width: 410px;
}

#RegisterPage .Page .Forms .Button button{
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    height: 40px;
    width:50%;
    border-radius: 10px;
    background-color: #000008;
    color:white;
    transition: 1s;
    align-items: center;
    text-align: center;

}

#RegisterPage .Page .Forms .Button button:hover{
    background-color: #340042;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

#RegisterPage .Page .Forms .Field p{
    margin-bottom: 5px;
}

#RegisterPage #RegisterWarning p{
    color: #d11909;
}
