/* Configura o título da seção */
.triunfal_title {
    text-align: center;
    font-weight: var(--fonteNegrito);
    font-size: 3rem;
    margin-bottom: calc(2*var(--margem));
    letter-spacing: .20em;
    border-right: .05em transparent #ffffff;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    width: 0%;
    animation:
        typing 3.5s steps(30, end) 2s forwards,
        blink-caret 0.5s step-end 2s;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #ffffff
    }
}

/* Formatando a Logo */
.logo_div {
    align-items: center;
}

.logo_div img {
    width: 520px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: logo_fade_in 5s;
}

@keyframes logo_fade_in {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

.intro_logo p {
    text-align: center;
}

.intro_logo {
    margin-bottom: 50px;
}
