#LoginPage #PageContent {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

#PageBackground {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

#LoginPage .FormsBase {
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    border-radius: 30px;
}

#LoginPage .Forms{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#LoginPage .Forms h2 {
    font-size: 24pt;
    margin-bottom: 30px;
    text-align: center;
}

#LoginPage .Forms p {
    font-size: large;
    margin-top: 10px;
}

#LoginPage #BackToHome {
    display: flex;
    align-items: center;
    height: 10vh;
}

#LoginPage #BackToHome p {
    margin-left: 30px;
}

#LoginPage .FormsBase .Field input{
    font-size: 14pt;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #05000e;
}

#LoginPage .FormsBase .Field{
    margin-top: 0;
    margin-bottom: 15px;
    width: calc(30vw - 15px);
}

#LoginPage .FormsBase .AcessButton{
    margin-left: auto;
    margin-right: auto;
    width: calc(30vw + 30px);
}

#LoginPage .Forms .AcessButton button{
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    height: 40px;
    width: calc(30vw + 30px);
    border-radius: 10px;
    background-color: #12011a;
}

#LoginPage .Forms .AcessButton button:hover{
    background-color: #25062e;
}

#LoginPage .Forms .Field p{
    margin-bottom: 5px;
}
