.img_container{
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.OlympiadImage{
  margin: 0 auto;
  display: block;
  height: 300px;
}

.book{
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
}

.post_img{
  height: 450px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  display: inline-flex;
}