/* Arruma o background da caixa de login */
.mainLogin{
    background-color: var(--preto);
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Caixa de login ocupa a tela toda no celular */
@media screen and (max-width: 1000px){
    .box{
        width: 100% !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        margin: 0 !important;
        height: 100vh !important;
        border-radius: 0 !important;
    }
    hr{
        width: 400px !important;
    }
}

hr{
    width: 450px;
    display: block;
    margin: auto;
}

/* Cor e tamanho da caixa de login em telas grandes */
.box{
    background: linear-gradient(0deg, #01022d 0%, #000121 100%); 
    width: 800px;
    margin: calc(4*var(--margem));
    padding: calc(4*var(--margem));
    border-radius: 20px;
}

/* Tamanho e osição da logo */
.logo2{
    height: 140px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

/* Estilo e posição do título */
h1{
    text-align: center;
    color: var(--branco);
    font-weight: var(--fonteNegrito);
    margin-bottom: 20px;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 40px auto;
    width: 400px;
    border: none;
}

.loginText input{
    border-radius: 10px;
    border: solid var(--branco) 1px;
    padding: 10px;
    background-color: var(--preto);
    width: 100%;
    height: 80px;
    color: var(--branco);
    transition: 0.5s;
}

.loginText input:focus{
    box-shadow: 0 0 3px 3px var(--azul-claro);
}

.buttons input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--preto);
    border: solid green 2px;
    color: green;
    transition: 0.5s;
    font-size: 0.9rem;
}

.buttons input:hover{
    cursor: pointer;
    background-color: green;
    color: var(--preto);
}

.buttons button{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--preto);
    border: solid var(--azul-claro) 2px;
    color: var(--azul-claro);
    transition: 0.5s;
    font-size: 0.9rem;
}

.buttons button:hover{
    cursor: pointer;
    background-color: var(--azul-claro);
    color: var(--preto);
}

.footer{
    display: block;
    text-align: center;
    background-color: none;
    color: white;
}


