* {
    margin: 0;
    padding: 0;
    
    color: #ffffff;
    font-family: Montserrat;
}

.Page {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    position: relative;
    background: linear-gradient(0, #000000 0%, #030014 100%);
}

h1 {
    text-align: center;
    font-size: 32pt;
    font-weight: 900;
}

p {
    font-size: 12pt;
    font-weight: 400;
}