#StudentCoursesPage #PageContent {
    position: absolute;
    width: 100vw;
    z-index: 1;
}

#StudentCoursesPage #PageBackground {
    left: 0;
    width: 100vw;
    z-index: 0;
    position: absolute;
}

#StudentCoursesPage .Content {
    display: flex;
}

#StudentCoursesPage .LateralMenu {
    float: left;
    width: 30vw;
    height: 100vh;
    background: linear-gradient(0deg, #23002f 0%, #610059 100%);
    z-index: 1;
}

#StudentCoursesPage .Lecture {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#StudentCoursesPage .LectureBox {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#StudentCoursesPage .ComponentsDiv {
    width: 100%;
}

#StudentCoursesPage .Title h2{
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

#StudentCoursesPage .Frame {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#StudentCoursesPage .Frame .Video {
    width: 100%;
}

#StudentCoursesPage .Frame .Video video{
    width: 100%;
    aspect-ratio: 16 / 9;
}

#StudentCoursesPage .Navigation {
    font-size: large;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

#StudentCoursesPage .Navigation .Previous{
    text-align: left;
}

#StudentCoursesPage .Navigation .Next{
    text-align: right;
}

#StudentCoursesPage .Lecture .description{
    margin-top: 10px;
    text-align: left;
}