#AdmPayments{
    display: flex;
    flex-direction: row;
}

#AdmPayments #user.course-pay{
    text-align:center;
    align-items:center;
    margin:20px;
}

#title{
    border-botton:solid 2px white;
    margin:20px;
    text-align:center;
    align-items:center;
}

#AdmPayments #user.course-pay #list{
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#card-item{
    display:flex;
    flex-direction:row;
    border:2px solid white;
    border-radius:30px;
    padding:10px 20px;
    margin:20px;
    align-items:center;
}

#card-item #Item-status{
    background-color:green;
    padding:10px;
    margin:5px;
    font-size:1.2rem;
}

#card-item #item-card{
    margin:10px;
}

#card-item #item-details{
    font-size:1.1rem;
    border-botton:2px;
}
