.LateralMenuDiv {
    width: 300px;
    height: 100vh;
    background: linear-gradient(180deg, #8504a9 0%, #1b0048 100%);
}

.LateralMenuDiv h1{
    font-size: 26pt;
    font-weight: 500;
}

.LateralMenuDiv p{
    font-size: 14pt;
    font-weight: 300;
    text-align: center;
}

.LateralMenuDiv .MenuItemsDiv p{
    text-align: left;
}

.LateralMenuDiv .CourseInfoDiv .CourseImageDiv{
    display: block;
    justify-content: center;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.LateralMenuDiv .CourseInfoDiv .CourseImageDiv img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}