main {
    background: #101010;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0d0d0d, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #101010, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-sizing: border-box;
    display: block;
    color: white;
}

/* Configura o título da seção */
h1 {
    font-size: 36pt;
    color: #FFFFFF;
}

h2 {
    font-size: 28pt;
    color: #FFFFFF;
}

h3 {
    font-size: 22pt;
    color: #FFFFFF;
}

h4 {
    font-size: 18pt;
    color: #FFFFFF;
}

p {
    font-size: 18pt;
    color: #FFFFFF;
}

.body {
    margin-left: 50px;
    margin-right: 50px;
}