
/* Animação das estrelas do fundo */
.estrelas{
  list-style: none;
}

.estrelas li{
  position: absolute;
  top: 1700px;
  height: 1px;
  width: 1px;
  border-radius: 0.5px;
  background-color: rgba(255,255,255,1);
}
.estrelas li:nth-child(1){
  left: 5vw;
  animation: 26s subidaDireita infinite, 1.8s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -20s;
}
.estrelas li:nth-child(2){
  left: 10vw;
  animation: 25.5s subidaEsquerda infinite, 4s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -24s;
}
.estrelas li:nth-child(3){
  left: 14vw;
  animation: 27.2s subidaDireita infinite, 2s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -10s;
}
.estrelas li:nth-child(4){
  left: 17vw;
  animation: 28.9s subidaEsquerda infinite, 5s brilho infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
}
.estrelas li:nth-child(5){
  left: 22vw;
  animation: 30s subidaDireita infinite, 5s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -7s;
}
.estrelas li:nth-child(6){
  left: 26vw;
  animation: 29.3s subidaEsquerda infinite, 3s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -15s;
}
.estrelas li:nth-child(7){
  left: 29vw;
  animation: 26.7s subidaDireita infinite, 3s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -18s;
}
.estrelas li:nth-child(8){
  left: 33vw;
  animation: 25.8s subidaEsquerda infinite, 2s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -3s;
}
.estrelas li:nth-child(9){
  left: 37vw;
  animation: 28.8s subidaDireita infinite, 2.5s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -12s;
}
.estrelas li:nth-child(10){
  left: 42vw;
  animation: 29.4s subidaEsquerda infinite, 3.9s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -23s;
}
.estrelas li:nth-child(11){
  left: 48vw;
  animation: 27.3s subidaDireita infinite, 5.2s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -9s;
}
.estrelas li:nth-child(12){
  left: 57vw;
  animation: 25.2s subidaEsquerda infinite, 3.3s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -5s;
}
.estrelas li:nth-child(13){
  left: 65vw;
  animation: 26.8s subidaDireita infinite, 3.4s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -18s;
}
.estrelas li:nth-child(14){
  left: 70vw;
  animation: 28.7s subidaEsquerda infinite, 2.3s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -14s;
}
.estrelas li:nth-child(15){
  left: 76vw;
  animation: 24.9s subidaDireita infinite, 2.2s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -21s;
}
.estrelas li:nth-child(16){
  left: 92vw;
  animation: 26.6s subidaEsquerda infinite, 2.5s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -15s;
}
.estrelas li:nth-child(17){
  left: 95vw;
  animation: 25.4s subidaEsquerda infinite, 4.2s brilho infinite;
  animation-timing-function: linear;
  animation-delay: -21s;
}
.estrelas li:nth-child(18){
  left: 3vw;
  animation: 17.8s subidaEsquerda infinite, 2.1s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -2s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(19){
  left: 8vw;
  animation: 17.8s subidaEsquerda infinite, 2.1s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -2s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(20){
  left: 14vw;
  animation: 15.8s subidaEsquerda infinite, 2.1s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -2s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(21){
  left: 19vw;
  animation: 17.3s subidaDireita infinite, 5.2s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -9s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(22){
  left: 24vw;
  animation: 15.2s subidaEsquerda infinite, 3.3s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -5s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(23){
  left: 27vw;
  animation: 16.8s subidaDireita infinite, 3.4s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -18s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(24){
  left: 33vw;
  animation: 18.7s subidaEsquerda infinite, 2.3s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -14s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(25){
  left: 38vw;
  animation: 14.9s subidaDireita infinite, 2.2s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -21s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(26){
  left: 42vw;
  animation: 16.6s subidaEsquerda infinite, 2.5s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -15s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(27){
  left: 45vw;
  animation: 15.4s subidaDireita infinite, 4.2s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -21s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(28){
  left: 48vw;
  animation: 12.3s subidaEsquerda infinite, 2.1s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -2.5s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(29){
  left: 53vw;
  animation: 17.8s subidaEsquerda infinite, 2.1s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -5.3s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(30){
  left: 58vw;
  animation: 13.4s subidaEsquerda infinite, 2.1s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -2.8s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(31){
  left: 63vw;
  animation: 12.7s subidaDireita infinite, 5.2s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -9s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(32){
  left: 66vw;
  animation: 14.3s subidaEsquerda infinite, 3.3s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -5s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(33){
  left: 70vw;
  animation: 15.7s subidaDireita infinite, 3.4s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -18s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(34){
  left: 73vw;
  animation: 18.2s subidaEsquerda infinite, 2.3s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -14s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(35){
  left: 78vw;
  animation: 17.6s subidaDireita infinite, 2.2s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -21s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(36){
  left: 84vw;
  animation: 15.2s subidaEsquerda infinite, 2.5s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -15s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(37){
  left: 92vw;
  animation: 14.3s subidaDireita infinite, 4.2s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -21s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(38){
  left: 95vw;
  animation: 19.2s subidaEsquerda infinite, 2.1s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -2s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(39){
  left: 46vw;
  animation: 13.8s subidaEsquerda infinite, 2.1s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -2s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}
.estrelas li:nth-child(40){
  left: 36vw;
  animation: 12.8s subidaEsquerda infinite, 2.1s brilhoPequeno infinite;
  animation-timing-function: linear;
  animation-delay: -2s;
  width: 0.5px;
  height: 0.5px;
  border-radius: 0.25px;
}

@keyframes subidaDireita{
  0% {transform: translate(0, 0); }
  100%{transform: translate(50px, -1700px);}
}

@keyframes subidaEsquerda{
  0% {transform: translate(0, 0); }
  100%{transform: translate(-50px, -1700px);}
}

@keyframes brilho{
  0% {box-shadow: 0 0 1px 0.5px rgba(255,255,255,1);}
  50% {box-shadow: 0 0 1px 1.5px rgba(255,255,255,1);}
  100% {box-shadow: 0 0 1px 0.5px rgba(255,255,255,1);}
}

@keyframes brilhoPequeno{
  0% {box-shadow: 0 0 0.2px 0.2px rgba(255,255,255,1);}
  50% {box-shadow: 0 0 0.2px 0.5px rgba(255,255,255,1);}
  100% {box-shadow: 0 0 0.2px 0.2px rgba(255,255,255,1);}
}