.Content {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#LateralMenu {
    float: left;
    width: 300px;
    height: 100vh;
    
    background: linear-gradient(0, #0b0013 0%, #380448 100%);
}

#MenuOptionsDiv {
    margin-top: calc((100% - 250px)/2);
    margin-bottom: calc((100% - 250px)/2);
}

.MenuOption {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 52px;
}

.MenuOption:hover {
    background-color: rgb(78, 0, 92);
}

.MenuOption p {
    margin-top: 15px;
}

.MenuOptionRender {
    width: calc(100vw - 300px);
}

.MenuOptionRender .Title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.MainContent{
    padding: 20px;
}

#ProfileDiv {
    display: block;
    width: 100%;
    height: 40vh;
}

#ProfilePictureDiv {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#ProfileUsernameDiv {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#ProfilePictureImg {
    
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

#ProfileUserType {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-style: italic;
}

#StudentDashboardCourseDiv {
    display: flex;
    width: 90%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #21002c;
    margin-top: 10px;
    margin-bottom: 10px;
}

#StudentDashboardCourseDiv .CourseImg {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#StudentDashboardCourseDiv img {
    height: 80px;
    width: 80px;
}

#StudentDashboardCourseDiv .CourseDetails {
    width: calc(60%);
}

#StudentDashboardCourseDiv .CourseDetails h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#StudentDashboardCourseDiv .CourseDetails p{
    text-align: justify;
}

#StudentDashboardCourseDiv .CourseAcess {
    width: calc(40% - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}