.StudentDashboardPage {
    display: inline;
}

.Lateralmenu {
    float: left;
    width: 300px;
    background: linear-gradient(0deg, #000a62 100%, #06002f 0%);
    
}

.StudentDashboardPage .Lateralmenu .MenuOption {
    width: 300px;
}